/* 背景圖 */
body {
    background-image: url("/img/海浪模糊.png");
    background-size: cover;
    background-attachment: fixed; 
}
.login-bg .login-inner {
    width: 1400px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;

}

.login-bg .login-inner .login-box {
    background-color: white;
    width: 500px;
    height: auto;
    margin: 80px 500px 10px 470px; 
    border-radius: 5px;
}

/* 登入樣式 */
form.signup{
    width: 500px;
    padding: 2vh 5vh;
    display: flex;
    flex-wrap: wrap;
}


fieldset{
    width: 430px;
}

/* 標題 */
.title{
    color: black;
    width: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 15px 0px;
}

legend,input{
    border: 1px solid #b8b6b6;
}

/* 輸入樣式 */
input{
    width: 100%;
    border-radius: 20px;
    padding: 8px 20px;
    margin: 6px 0px ;
}

/* button */
input[type="button"]{
    width: 100%;
    margin: 40px 0 0 0;
    background: #176a94;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}

.btn{
    margin: 0 0 10px 0;
}

.btn:hover {
    opacity: 0.8;
}

#sign a{
    color: #03344c;
}

/* already member */
#sign{
    margin-top: 10px;
    padding-left: 150px;
}
#sign>span {
    color: rgb(65, 65, 65);
}
#sign>a {
    padding-left: 10px;
    color: rgb(0, 72, 255);
    text-decoration: none;
}

/* homepage */
.login-box .back-index{
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-index span{
    margin-top: 20px;
    border-bottom: 1px solid gray;
}
.back-index span a{
    text-decoration: none;
    color: gray;

}
.back-index a:hover {
    color: black;
}

span {
    color: #FF0000;
    font-size: 12px
}

/* RWD */
@media (max-width:1000px) {
    .login-bg .login-inner .login-box {
        position: absolute;
        top: 0;
        left: 0;
        margin: 100px 250px;
    }
}

@media (max-width:800px) {
    .login-bg .login-inner .login-box {
        position: absolute;
        top: 0;
        left: 0;
        margin: 100px 130px;
    }
}

@media (max-width:600px) {
    .login-bg .login-inner .login-box {
        position: absolute;
        top: 0;
        left: 0;
        margin: 100px 35px;
    }
}